---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Banner from "../components/Banner.astro";
import Expertice from "../components/Expertice.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
---

<DefaultLayout>
  <main>
    <Banner />
    <Expertice />
    <About/>
    <Footer />
  </main>
</DefaultLayout>
