---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Intro from "../components/Intro.astro";
import Work from "../components/Work.astro";
import Skills from "../components/Skills.astro";
import Footer from "../components/Footer.astro";
import Projects from "../components/Projects.astro";
import Education from "../components/Education.astro";
---

<DefaultLayout>
  <main>
    <Intro />
    <Work />
    <Projects />
    <Skills />
    <Education />
    <Footer />
  </main>
</DefaultLayout>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
  :root {
    --font-primary: "Roboto", sans-serif;
    --backgorund-color: #fff;

    --color-primary: #050607;
    --color-secondary: #3f424d;

    --grey-primary: #8d8d8d;
    --grey-secondary: #dadada;

    --accent-bold: #6a1cfd;
    --accent-regular: #7611a6;

    --marker-color: #8d4dfd;
    --border-primary-color: rgb(228, 228, 228);

    --backgorund-card-color: #fff;
  }

  html {
    scroll-behavior: smooth;
  }
  body.dark-mode {
    --backgorund-color: #1d1d1d;
    --color-primary: #ffff;
    --color-secondary: #8d8d8d;

    --grey-primary: #8d8d8d;
    --grey-secondary: #454545;

    --accent-bold: #8a4bff;
    --accent-regular: #7611a6;

    --marker-color: #8d4dfd;
    --border-primary-color: #151515;

    --backgorund-card-color: #151515;
  }

  body {
    font-family: var(--font-primary);
    background-color: var(--backgorund-color);
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  main {
    margin-top: 150px;
    max-width: 630px;
  }

  .seaction-header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid var(--grey-secondary);
  }

  .header-title {
    color: var(--color-primary);
    margin-left: 10px;
    font-size: 45px;
  }

  @media (max-width: 500px) {
    main {
      margin-top: 100px;
    }
  }

  @media (max-width: 500px) {
    .section-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .seaction-header {
      display: flex;
      justify-content: center;
    }

    .header-title {
      margin-left: 0;
      font-size: 28px;
      text-align: left;
    }
  }
</style>
