---
import { getCollection } from "astro:content";
import Icon from "./Icon.astro";
const education = await getCollection("education");
---

<section id='education-section' class="section-block">
  <header class="seaction-header">
    <img
      class="icon-header"
      src="assets/icons/work-icon.png"
      alt="icon"
      height={50}
      width={50}
    />
    <h1 class="header-title">Education</h1>
  </header>
  <div class="item">
    <ul>
      {
        education.map(({ data }) => (
          <li class="education">
            <div class="header-item">
              <div class="title">
                <div>
                  <h1 class="career-name">{data.career}</h1>
                </div>
                <span class="date">
                  {data.start_date} - {data.end_date}
                </span>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .section-block {
    margin-top: 30px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .header-item {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .career-icon {
    background-color: #fff;
    border-radius: 40%;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.23);
    margin-right: 10px;
  }

  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .date {
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: 400;
  }

  .career-name {
    font-size: 20px;
    color: var(--color-primary);
  }

  .topics-list li {
    color: var(--color-primary);
    position: relative;
    margin-right: 0.5rem;
    margin-top: 20px;
    font-size: 20px;
    padding: 0;
  }

  .topics-list li::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
    background: var(--marker-color);
    margin-right: 10px;
  }

  .topics-list li:last-child {
    margin-bottom: 50px;
  }

  @media (max-width: 500px) {
    .date {
      font-size: 15px;
    }

    .career-name {
      font-size: 18px;
    }

    .item {
      width: 70%;
    }
  }
</style>
