---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";
const expertices = await getCollection("expertice");
---

<section class="expertice">
  <h1>My Expertise</h1>
  <div class="grid-container">
    {
      expertices.map(({ data }) => {
        return (
          <div class="grid-item">
            <div>
              <Icon name={data.icon} width="25px"/>
              <h3>{data.title}</h3>
            </div>
            <p class="item-text">{data.body}</p>
            <ul class="tags">
              {data.lenguajes.map((leng) => (
                <li class="tag">{leng}</li>
              ))}
            </ul>
          </div>
        );
      })
    }
  </div>
</section>

<style>
  .expertice {
    margin: 0;
    padding: 50px;
    overflow-y: hidden;
    background-color: #000;
  }

  .expertice h1 {
    font-size: 7vw;
    font-weight: 600;
    line-height: 1.4em;
    color: #fff;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  .grid-item h3 {
    margin: 0;
    margin-left: 5px;
    position: relative;
    font-size: 40px;
    background-image: linear-gradient(120deg, #8867ff 0%, #dd65c5 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    background-position: 0 80%;
    transition: background-size 0.25s ease-in;
  }

  .grid-item div {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .expertice__tag-content {
    line-height: 50px;
    font-size: 15px;
    white-space: normal;
    display: flex;
    list-style: none;
    justify-content: center;
  }
  .expertice__tag {
    background-color: #dd65c5;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
  }

  .item-text {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 0;
  }

  .grid-item {
    display: inline-block;
    padding: 20px;
    color: #fff;
    border: 2px solid #a3a3a3;
  }

  .tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  .tags li {
    float: left;
  }

  .tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }

  .tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: "";
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }

  .tag::after {
    background: #000;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
  }

  .tag:hover {
    background-color: rgb(220, 20, 170);
    color: white;
    cursor: pointer;
  }

  .tag:hover::after {
    border-left-color: rgb(220, 20, 170);
  }
</style>
