<footer class="footer">
  <p>Copyright &copy; ivandominguez.com</p>
</footer>

<style>
  .footer {
    max-width: 100vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: #e0e0e0;
    margin-top: 70px;
  }

  p{
    text-align: center;
    margin: 0;
  }
</style>
