<footer class="footer">
  <p>Copyright &copy; ivandominguez.com</p>
</footer>

<style>
  .footer {
    text-align: center;
    padding: 10px;
    color: #000000;
    background-color: #e0e0e0;
    margin: 70px 0 0 0
  }

  p{
    margin: 0;
  }
</style>
