---
import { getCollection } from "astro:content";
const projects = await getCollection("project");
---

<section id="project-section" class="section-block">
  <header class="seaction-header">
    <img
      class="icon-header"
      src="assets/icons/skills-icon.png"
      alt="icon"
      height={50}
      width={50}
    />
    <h1 class="header-title">Main Projects</h1>
  </header>
  <div class="grid-container">
    {
      projects.map(({ data }) => (
        <div class="card">
          <img class="card-header" src={data.img} />
          <div class="card-content">
            <h5 class="card-title">{data.title}</h5>
            <p class="card-text">{data.body}</p>
          </div>
          <div class="card-button">
            <a target="_blank" href={data.repository} class="card-btn">
              View repo
            </a>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>

  .grid-container {
    margin-top: 50px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .card {
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    border-radius: 20px;
    background-color: var(--backgorund-card-color);
    color: var(--color-secondary);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 0.2px solid var(--border-primary-color);
  }

  .card-header {
    position: relative;
    margin: 0 16px;
    margin-top: -24px;
    height: 160px;
    overflow: hidden;
    border-radius: 20px;
    background-clip: border-box;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    border: 1px solid #80808047;
  }

  .card-content {
    padding: 10px 24px 90px;
  }

  .card-title {
    color: var(--color-primary);
    margin-top: 10px;
    margin-bottom: 8px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
  }

  .card-text {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: inherit;
  }

  .card-button {
    padding: 24px;
    padding-top: 0;
    position: absolute;
    bottom: 10px;
    left: 25%;
    transform: translateX(-50%);
  }

  .card-btn {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    background-color: #1e40af;
    padding: 12px 24px;
    text-align: center;
    vertical-align: middle;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    box-shadow: 0px 2px 3px rgba(30, 64, 175, 0.2);
    transition: all 0.3s;
  }

  .card-btn:hover,
  .card-btn:focus {
    box-shadow: 0px 4px 6px rgba(30, 64, 175, 0.4);
  }

  .card-btn:active {
    opacity: 0.85;
  }

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
      padding-left: 40px;
      padding-right: 60px;
    }

    .card {
      width: 100%;
    }

    .card-header {
      object-position: 1px 0px 0 1px;
    }
  }

  @media (max-width: 500px) {
    

    .icon-header {
      margin-left: -10px;
    }

    .grid-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    .card {
      max-width: 300px;
    }
  }
</style>
